body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    margin-left: 50px;
}

.game-name{
    font-weight: bold;
    font-size: 40px;
}

.move-button{
    width: 120px;
    height: 120px;
    background-color: black;
    border: 2px solid white;
    border-radius: 60px;
    margin-right: 15px;
    cursor: pointer;
}

.move-image{
    width: 60px;
    height: 60px;
}

.result{
    font-weight: bold;
    font-size: 30px;
}

.choice{
    font-size: 20px;
}

.score{
    font-weight: bold;
    font-size: 20px;
}

.reset-button{
    padding: 6px 8px;
    font-size: 15px;
    border: 1px solid white;
    background-color: black;
    color: rgb(255, 217, 3);
    border-radius: 2px;
    cursor: pointer;
}
